@use '../../globals' as mixins;

.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(56, 56, 56, 0.8);
    display: none;
    &.show {
        display: flex;
    }

    // width: 100%;
    // top: 0;
    // left: 0;
    // height: 100vh;

    &__wrap {
        padding-top: 40px;
        position: relative;
        top: -40px;
    }

    &__content {
        max-width: 360px;
        background: var(--bg);
        border-radius: 16px;
        padding: 40px;
        overflow: hidden;
        position: relative;
    }

    &__image {
        margin: auto;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__title {
        font-family: mixins.$font-secondary;
        text-align: center;
        margin-bottom: 20px;
        @include mixins.type(20, 30);
    }

    &__text {
        text-align: center;
        @include mixins.type(14, 20);
    }
}

.video-modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(56, 56, 56, 0.8);
    // width: 100%;
    // top: 0;
    // left: 0;
    // height: 100vh;

    &__wrap {
        padding-top: 40px;
        position: relative;
        top: -40px;
    }

    &__content {
        position: relative;
        overflow: hidden;
        width: 90vw; // Можно адаптивно
        max-width: 360px;
        // aspect-ratio: 9 / 16; // Например, вертикальное видео
        border-radius: 16px;
        border: 3px solid var(--main);
        background: black;
        @include mixins.respond-max(tablet) {
            aspect-ratio: 3 /4;
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__close {
        position: absolute;
        top: 0px;
        right: 0px;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        z-index: 12;
        @include mixins.respond-max(tablet) {
            // top: 10vh;
            // right: 40px;
        }
    }

    &[hidden] {
        display: none;
    }
}
