@use '../../globals' as mixins;

.contacts {
    padding: 80px 0;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    @include mixins.respond-max(tablet) {
        padding: 40px 0;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        @include mixins.respond-max(tablet) {
            height: 280px;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 552px;
        grid-gap: 80px;
        position: relative;
        @include mixins.respond-max(tablet) {
            display: block;
        }
    }

    &__info {
        &-title {
            margin-bottom: 40px;
            @include mixins.respond-max(tablet) {
                margin-bottom: 32px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
        @include mixins.respond-max(tablet) {
            margin-top: 18px;
        }
    }

    &__item {
        display: flex;
        // align-items: center;
        gap: 16px;
        color: #4f4f4f;
        & a {
            text-decoration: underline dotted;
        }
        & span {
            color: #4f4f4f;
        }
        & .icon {
            flex-shrink: 0;
        }
        &:last-child {
            margin-top: 16px;
        }
    }

    &__map {
        @include mixins.respond-max(tablet) {
            margin-top: 16px;
            & iframe {
                width: 100%;
            }
        }
    }
}
