@use '../../globals' as mixins;

.first {
    padding-top: 60px;
    padding-bottom: 80px;
    width: 100%;
    position: relative;
    @include mixins.respond-max(tablet) {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;
        @include mixins.respond-max(tablet) {
            height: 280px;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-gap: 32px;
        position: relative;
        @include mixins.respond-max(tablet) {
            // display: block;
            grid-template-columns: 1fr 165px;
        }
    }

    &__info {
        border-bottom: 3px solid var(--main);
        border-right: 3px solid var(--main);
        border-bottom-right-radius: 16px;
        padding-right: 220px;
        @include mixins.respond-max(tablet) {
            padding: 0;
            border: none;
            position: relative;
            z-index: 4;
        }
    }

    &__title {
        max-width: 520px;
        margin-bottom: 24px;
        & .for-mob {
            display: none;
            @include mixins.respond-max(tablet) {
                display: block;
            }
        }

        @include mixins.respond-max(tablet) {
            text-shadow:
                0 0 10px white,
                0 0 15px white;

            // max-width: 235px;
            // & br {
            //     display: none;
            // }
        }
    }

    &__list {
        margin-bottom: 32px;
    }

    &__item {
        margin-bottom: 8px;
        display: flex;
        gap: 18px;
        padding-left: 5px;
        @include mixins.type(18, 26);
        @include mixins.respond-max(tablet) {
            @include mixins.type(16, 24);
            padding-left: 0;
            gap: 12px;
        }
        &::before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border: 1px solid var(--text);
            margin-top: 10px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-bottom: -35px;
        @include mixins.respond-max(tablet) {
            flex-direction: column;
            margin: 0;
        }
    }

    &__action {
        @include mixins.btn();
        & {
            padding-left: 68px;
            padding-right: 68px;
            white-space: nowrap;
            height: 72px;
            @include mixins.respond-max(tablet) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__gift {
        padding: 12px 32px;
        border: 1px solid #383838;
        border-left: none;
        white-space: nowrap;
        height: 50px;
        background: var(--bg);
        @include mixins.respond-max(tablet) {
            border-top: none;
            border-left: 1px solid #383838;
        }
    }

    &__images {
        position: relative;
        width: 576px;
        height: auto;
        right: 254px;
        @include mixins.respond-max(tablet) {
            width: 165px;
            right: 0;
            position: absolute;
        }
        &-bg {
            @include mixins.respond-max(tablet) {
                width: 160px;
                height: 130px;
            }
        }
    }

    &__images-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        border-radius: 16px;
        overflow: hidden;
        transition: transform 0.8s ease-in-out;
        @include mixins.respond-max(tablet) {
            border-radius: 4px;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba(255, 255, 255, 0.6);
            transition: opacity 0.8s ease-in-out;
        }

        // активная карточка
        &.active {
            z-index: 3;
            // opacity: 1;
            // transform: translate(0, 0) scale(1.02);

            &::before {
                content: none;
            }
        }

        // задаём смещения для «уровней»
        &:nth-child(1) {
            transform: translate(0px, 80px);
            @include mixins.respond-max(tablet) {
                transform: translate(-10px, 10px);
            }
        }
        &:nth-child(2) {
            transform: translate(80px, -20px);
            @include mixins.respond-max(tablet) {
                transform: translate(20px, -10px);
            }
        }
        &:nth-child(3) {
            transform: translate(-20px, 20px);
            @include mixins.respond-max(tablet) {
                transform: translate(-20px, 20px);
            }
        }
    }
}
