@use '../../globals' as mixins;

.first {
    padding-top: 60px;
    padding-bottom: 80px;
    width: 100%;
    position: relative;
    @include mixins.respond-max(tablet) {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;
        @include mixins.respond-max(tablet) {
            height: 280px;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
        position: relative;
        @include mixins.respond-max(tablet) {
            display: block;
        }
    }

    &__info {
        border-bottom: 3px solid var(--main);
        border-right: 3px solid var(--main);
        border-bottom-right-radius: 16px;
        padding-right: 220px;
        @include mixins.respond-max(tablet) {
            padding: 0;
            border: none;
            position: relative;
            z-index: 4;
        }
    }

    &__title {
        max-width: 520px;
        margin-bottom: 24px;
        & .for-mob {
            display: none;
            @include mixins.respond-max(tablet) {
                display: block;
            }
        }

        @include mixins.respond-max(tablet) {
            text-shadow:
                0 0 10px white,
                0 0 15px white;

            // max-width: 235px;
            // & br {
            //     display: none;
            // }
        }
    }

    &__list {
        margin-bottom: 32px;
    }

    &__item {
        margin-bottom: 8px;
        display: flex;
        gap: 18px;
        padding-left: 5px;
        @include mixins.type(18, 26);
        @include mixins.respond-max(tablet) {
            @include mixins.type(16, 24);
            padding-left: 0;
            gap: 12px;
        }
        &::before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border: 1px solid var(--text);
            margin-top: 10px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-bottom: -35px;
        @include mixins.respond-max(tablet) {
            flex-direction: column;
            margin: 0;
        }
    }

    &__action {
        @include mixins.btn();
        & {
            padding-left: 68px;
            padding-right: 68px;
            white-space: nowrap;
            height: 72px;
            @include mixins.respond-max(tablet) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__gift {
        padding: 12px 32px;
        border: 1px solid #383838;
        border-left: none;
        white-space: nowrap;
        height: 50px;
        background: var(--bg);
        @include mixins.respond-max(tablet) {
            border-top: none;
            border-left: 1px solid #383838;
        }
    }

    &__images {
        position: relative;
        @include mixins.respond-max(tablet) {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 300px;
            // &::before {
            //     content: '';
            //     width: 100%;
            //     height: 100%;
            //     background: rgba(255, 255, 255, 0.5);
            //     position: absolute;
            //     z-index: 4;
            //     display: block;
            //     top: -40px;
            // }
        }

        &-bg {
            position: absolute;
            right: 0;
            width: 100%;
            min-width: 552px;
            @include mixins.respond-max(tablet) {
                min-width: auto;
                width: 160px;
                height: 130px;
                top: -20px;
            }
        }

        &-one,
        &-two,
        &-three {
            position: absolute;
            border-radius: 16px;
            // box-shadow: 0px 0px 16px 0px #3838383d;
            animation: zIndexLoop 9s infinite;
            @include mixins.respond-max(tablet) {
                border-radius: 4px;
            }
        }

        /* Позиции */
        &-one {
            right: 20px;
            top: 20px;
            width: 552px;
            height: 380px;
            animation-delay: 0s;
            @include mixins.respond-max(tablet) {
                width: 164px;
                height: 112px;
                top: 10px;
                right: 30px;
            }
        }

        &-two {
            right: 110px;
            top: -20px;
            width: 380px;
            height: 476px;
            animation-delay: 3s;
            @include mixins.respond-max(tablet) {
                width: 120px;
                height: 150px;
                top: 10px;
                right: 40px;
                // display: none;
            }
        }

        &-three {
            right: 60px;
            bottom: 120px;
            width: 496px;
            height: 348px;
            animation-delay: 6s;
            @include mixins.respond-max(tablet) {
                width: 164px;
                height: 112px;
                top: -12px;
                right: 8px;
                // right: auto;
            }
        }

        /* Анимация по z-index */
        @keyframes zIndexLoop {
            0% {
                z-index: 3;
                box-shadow: 0px 0px 16px 0px #3838383d;
                background: red;
            }
            33.33% {
                z-index: 3;
                box-shadow: 0px 0px 16px 0px #3838383d;
            }
            33.34% {
                z-index: 1;
                box-shadow: none;
            }
            100% {
                z-index: 1;
                box-shadow: none;
            }
        }
    }
}
