@use '../../globals' as mixins;

.how {
    padding: 80px 0;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    @include mixins.respond-max(tablet) {
        padding: 40px 0;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        @include mixins.respond-max(tablet) {
            height: 280px;
            object-fit: cover;
        }
    }
    &__info {
        position: relative;
        &-title {
            margin-bottom: 16px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 264px 1fr;
        grid-gap: 120px;
        @include mixins.respond-max(tablet) {
            display: block;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        counter-reset: my-counter;
        @include mixins.respond-max(tablet) {
            margin-top: 32px;
        }
    }

    &__item {
        padding: 24px 32px;
        border: 1px solid #38383833;
        border-radius: 16px;
        counter-increment: my-counter;
        display: flex;
        background: #f0f0f0;
        position: relative;
        @include mixins.respond-max(tablet) {
            flex-direction: column-reverse;
            padding: 20px;
        }
        &.active {
            border-color: var(--bg);
            background: var(--bg);
            padding-left: 160px;
            @include mixins.respond-max(tablet) {
                padding-left: 20px;
            }

            &::before {
                content: none;
            }

            & .how__item-main {
                display: block;
                margin-top: 16px;
            }

            & .icon {
                transform: rotate(180deg);
            }

            & .how__item-img {
                display: block;
            }
        }

        &::before {
            content: counter(my-counter);
            width: 128px;
            text-align: right;
            font-weight: bold;
            font-family: mixins.$font-secondary;
            display: flex;
            justify-content: flex-end;
            flex-shrink: 0;
            @include mixins.type(20, 30);
            @include mixins.respond-max(tablet) {
                content: none;
            }
        }
        &-img {
            display: none;
            position: absolute;
            left: -80px;
            @include mixins.respond-max(tablet) {
                position: static;
                margin-top: 16px;
                width: 100%;
                max-width: 360px;
            }
        }

        &-hdr {
            font-family: mixins.$font-secondary;
            display: flex;
            margin-left: 32px;
            gap: 20px;
            justify-content: space-between;
            cursor: pointer;
            @include mixins.type(20, 30);
            @include mixins.respond-max(tablet) {
                margin: 0;
            }
        }

        &-main {
            margin-left: 32px;
            margin-top: 8px;
            color: #9a9a9a;
            @include mixins.cropText(1);
            @include mixins.respond-max(tablet) {
                margin-left: 0;
                color: #4f4f4f;
                @include mixins.cropText(2);
            }

            & p {
                margin-bottom: 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
