@use '../../globals' as mixins;

.reviews {
    padding: 80px 0 100px 0;
    position: relative;
    @include mixins.respond-max(tablet) {
        padding: 40px 0 150px 0;
        & .wrap {
            padding: 0;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        @include mixins.respond-max(tablet) {
            height: 280px;
            object-fit: cover;
        }
    }
    &__hdr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        position: relative;
        @include mixins.respond-max(tablet) {
            margin-bottom: 32px;
            padding: 0 20px;
        }
    }

    &__slider {
        display: flex;
        @include mixins.respond-max(tablet) {
            padding: 0 20px;
        }
    }

    &__slide {
        position: relative;
        flex-shrink: 0;
        width: 360px;
        border-radius: 16px;
        overflow: hidden;
        height: 500px;
        @include mixins.respond-max(tablet) {
            width: 306px;
            height: 424px;
        }

        &-video {
            width: 100%;
            max-width: 360px;
            height: 500px;

            // aspect-ratio: 3 / 4; // вертикальное соотношение (Snapchat/TikTok/Stories)
            border-radius: 16px;
            object-fit: cover; // обрезает края, сохраняя пропорции
            background: #000;
            @include mixins.respond-max(tablet) {
                max-width: 306px;
                height: 458px;
            }
        }

        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-footer {
            font-family: mixins.$font-secondary;
            padding: 22px 24px;
            width: 100%;
            background: linear-gradient(
                180deg,
                rgba(56, 56, 56, 0) 0%,
                rgba(56, 56, 56, 0.8) 100%
            );
            color: var(--bg);
            position: absolute;
            bottom: 0;
            @include mixins.type(20, 30);
        }
    }

    &__item {
        border-radius: 16px;
        flex-shrink: 0;
        width: 360px;
        overflow: hidden;
        @include mixins.respond-max(tablet) {
            width: 306px;
        }
        &-image {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            width: 360px;
            height: 240px;
            object-fit: cover;
            @include mixins.respond-max(tablet) {
                width: 306px;
                height: 194px;
            }
        }
        &-main {
            padding: 16px 24px 24px;
            border: 1px solid #38383833;
            border-top: none;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            display: flex;
            flex-direction: column;
            position: relative;
            @include mixins.respond-max(tablet) {
                padding: 16px 20px 20px;
            }
        }
        &-title {
            font-weight: bold;
            font-family: mixins.$font-secondary;
            margin-bottom: 8px;
            @include mixins.type(20, 30);
            @include mixins.respond-max(tablet) {
                @include mixins.type(19, 28);
            }
        }
        &-text {
            overflow: auto;
            max-height: 182px;
            @include mixins.respond-max(tablet) {
                max-height: 155px;
            }
        }
        &-more {
            margin-top: auto;
            display: flex;
            align-items: center;
            font-weight: bold;
            gap: 8px;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 24px;
        @include mixins.respond-max(tablet) {
            display: none;
        }
        &-prev {
            transform: rotate(180deg);
            display: flex;
            &.swiper-button-disabled {
                opacity: 0.5;
            }
        }
        &-next {
            display: flex;
            &.swiper-button-disabled {
                opacity: 0.5;
            }
        }
    }

    &__invite {
        position: relative;
        padding: 40px 40px 40px 0;
        border: 3px solid #ffe500;
        border-radius: 16px;
        display: flex;
        margin-left: auto;
        margin-top: 100px;
        text-align: right;
        @include mixins.respond-max(tablet) {
            margin: 40px 20px 0;
            text-align: left;
            flex-direction: column;
            padding: 30px 30px 142px;
        }
        &-title {
            font-family: mixins.$font-secondary;
            margin-bottom: 16px;
            @include mixins.type(32, 36);
            @include mixins.respond-max(tablet) {
                @include mixins.type(26, 30);
            }
        }
        &-text {
            margin-bottom: 24px;
            max-width: 492px;
            @include mixins.respond-max(tablet) {
                max-width: none;
            }
        }
        &-action {
            @include mixins.btn();
            & {
                padding: 16px 40px;
                height: 56px;
                width: fit-content;
                margin-left: auto;
                @include mixins.type(14, 18);
                @include mixins.respond-max(tablet) {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                }
            }
        }
        &-info {
            margin-left: auto;
            padding-left: 590px;
            @include mixins.respond-max(tablet) {
                padding: 0;
            }
        }
        &-img {
            position: absolute;
            left: -20px;
            top: -20px;
            width: 446px;
            height: 360px;
            @include mixins.respond-max(tablet) {
                width: 275px;
                height: 210px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: auto;
                bottom: -110px;
            }
        }
    }
}
