@use '../../globals' as mixins;

.why {
    padding: 80px 0;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    @include mixins.respond-max(tablet) {
        padding: 40px 0;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        @include mixins.respond-max(tablet) {
            height: 280px;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 328px 1fr;
        grid-gap: 80px;
        position: relative;
        @include mixins.respond-max(tablet) {
            display: block;
        }
    }

    &__title {
        margin-bottom: 40px;
        @include mixins.respond-max(tablet) {
            display: none;
        }
    }

    &__title-mob {
        display: none;
        @include mixins.respond-max(tablet) {
            display: block;
            position: relative;
            margin-bottom: 32px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px 40px;
        @include mixins.respond-max(tablet) {
            grid-template-columns: 1fr;
            grid-gap: 24px;
            margin-top: 32px;
        }
    }

    &__item {
        &-title {
            font-weight: bold;
            font-family: mixins.$font-secondary;
            margin-bottom: 8px;
            @include mixins.type(20, 30);
        }
        &:last-child {
            grid-column: 1/3;
            @include mixins.respond-max(tablet) {
                grid-column: 1/1;
            }
        }
    }

    &__action {
        @include mixins.btn();
        & {
            padding-left: 68px;
            padding-right: 68px;
            height: 72px;
            width: fit-content;
            margin-top: 32px;
            @include mixins.respond-max(tablet) {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__blog {
        @include mixins.respond-max(tablet) {
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
            align-items: center;
        }
        &-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            @include mixins.respond-max(tablet) {
                margin: 0;
            }
        }
        &-video {
            width: 100%;
            max-width: 328px; // ограничение по ширине
            aspect-ratio: 3 / 4; // вертикальное соотношение (Snapchat/TikTok/Stories)
            border-radius: 16px;
            object-fit: cover; // обрезает края, сохраняя пропорции
            background: #000;
            @include mixins.respond-max(tablet) {
                width: 140px;
                border-radius: 8px;
            }
        }
        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include mixins.respond-max(tablet) {
                width: 56px;
                height: 56px;
                & .icon {
                    width: 56px;
                    height: 56px;
                }
            }
        }

        &-cite {
            color: #4f4f4f;
            margin-bottom: 8px;
        }
        &-name {
            color: #9a9a9a;
            @include mixins.type(14, 20);
        }
    }
}

.video-modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    // width: 100%;
    // top: 0;
    // left: 0;
    // height: 100vh;

    &__content {
        position: relative;
        overflow: hidden;
        width: 90vw; // Можно адаптивно
        max-width: 360px;
        // aspect-ratio: 9 / 16; // Например, вертикальное видео
        border-radius: 16px;
        border: 3px solid var(--main);
        background: black;
        @include mixins.respond-max(tablet) {
            aspect-ratio: 3 /4;
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__close {
        position: fixed;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        z-index: 12;
        @include mixins.respond-max(tablet) {
            top: 10vh;
            right: 40px;
        }
    }

    &[hidden] {
        display: none;
    }
}
