<section class="detail-first">
  <img class="detail-first__bg" src="/images/dark-bg.svg" alt="bg">
  <div class="wrap">
    <div class="detail-first__wrapper">
      <div class="detail-first__images">
        <picture>
          <source srcset="/images/detail-first-mob@2x.webp 2x, /images/detail-first-mob.webp 1x"
            media="(max-width: 1240px)" type="image/webp">
          <source srcset="/images/detail-first-mob@2x.png 2x, /images/detail-first-mob.png 1x"
            media="(max-width: 1240px)" type="image/png">
          <source srcset="/images/detail-first@2x.webp 2x, /images/detail-first.webp 1x" type="image/webp">
          <source srcset="/images/detail-first@2x.png 2x, /images/detail-first.png 1x" type="image/png">
          <img src="/images/detail-first.png" alt="detail" loading="lazy" class="detail-first__image">
        </picture>
        <a data-fancybox data-src="/images/plan.png" data-caption="Планировка" class="detail-first__plan">
          <img src="/images/plan.png" alt="plan" loading="lazy">
          <svg class="icon" width="24" height="24">
            <use href="/images/sprite.svg#zoom" fill="currentColor"></use>
          </svg>
        </a>
      </div>
      <div class="detail-first__info">
        <h1 class="detail-first__title">
          <div>Ремонт</div> 2х ком., 42 м2
        </h1>
        <div class="detail-first__list">
          <div class="detail-first__item">
            <div class="detail-first__item-text">42 м2</div>
            <div class="detail-first__item-title">площадь</div>
          </div>
          <div class="detail-first__item">
            <div class="detail-first__item-text">Под ключ с мебелью</div>
            <div class="detail-first__item-title">тип ремонта</div>
          </div>
          <div class="detail-first__item">
            <div class="detail-first__item-text">8 000 000 руб</div>
            <div class="detail-first__item-title">бюджет</div>
          </div>
          <div class="detail-first__item">
            <div class="detail-first__item-text">56 дней / лето 2024</div>
            <div class="detail-first__item-title">реализация</div>
          </div>
          <div class="detail-first__item">
            <div class="detail-first__item-text">«Мичуринский парк», Калининград</div>
            <div class="detail-first__item-title">расположение</div>
          </div>
        </div>
        <a href="#all-photo" class="detail-first__all">
          Все фото проекта
        </a>
        <div class="detail-first__manager">
          <img src="/images/manager.png" alt="manager">
          <div class="detail-first__manager-text">
            <div class="detail-first__manager-name">Кристина, менеджер проекта</div>
            <div class="detail-first__manager-more">
              Подробно расскажет про ваш ремонт <a href="tel:+79130208952">+7 913 020 89 52</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
