<section class="progress">
  <img class="progress__bg" src="/images/dark-bg.svg" alt="bg">
  <div class="wrap">
    <div class="progress__wrapper">
      <h2 class="progress__title">
        Ход ремонта
      </h2>
      <div class="progress__steps">
        <p>
          После согласования дизайна, бюджета проекта с менеджером Мирастрой, клиент успешно заключил договор с нами на
          ремонт квартиры площадью 42 м2. И потом начался этап закупки материалов, далее первая бригада начала отделку
          стен и потолка. Принимал работу прораб <a href="">Иван</a>.
        </p>
        <div class="progress__steps-images">
          <img src="/images/project-slide.png" alt="step">
          <img src="/images/project-slide.png" alt="step">
        </div>
        <p>
          После контроля и приемки начался следующий этап работы:
        </p>
        <div class="progress__steps-images">
          <img src="/images/project-slide.png" alt="step">
          <img src="/images/project-slide.png" alt="step">
          <img src="/images/project-slide.png" alt="step">
        </div>
        <p>
          Сдана приемка электромонтажа объекта под контролем специалиста Виталия. Поклеены обоей второй бригадой в
          коридоре, кухне и спальне. Нашими специалистами установлена часть конструкций для установки встроенной мебели.
        </p>
        <div class="progress__steps-images">
          <img src="/images/project-slide.png" alt="step">
          <img src="/images/project-slide.png" alt="step">
        </div>
        <p>До и после ремонта квартиры 42 м2</p>
        <div class="before-after">
          <div class="images">
            <img src="/images/before.png" alt="До" class="before">
            <div class="after-wrap">
              <img src="/images/after.jpg" alt="После" class="after">
            </div>
            <div class="divider">
              <span>
                <svg class="icon" width="10" height="20">
                  <use href="/images/sprite.svg#arr-yellow" fill="currentColor"></use>
                </svg>
                <svg class="icon-reverse" width="10" height="20">
                  <use href="/images/sprite.svg#arr-yellow" fill="currentColor"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
