<section class="review-client">
  <img class="review-client__bg" src="/images/light-bg.svg" alt="bg">
  <div class="wrap">
    <div class="review-client__wrapper">
      <h2 class="review-client__title">
        Отзывы клиента
      </h2>
      <div class="review-client__box">
        <div class="review-client__slide">
          <video class="review-client__slide-video" playsinline preload="none" poster="/images/person.png">
            <source src="/videos/one.mp4" type="video/mp4" />
            Ваш браузер не поддерживает видео.
          </video>
          <button type="button" class="review-client__slide-play video-play-btn" data-video-src="/videos/one.mp4">
            <svg class="icon" width="72" height="72">
              <use href="/images/sprite.svg#play" fill="currentColor"></use>
            </svg>
          </button>
          <div class="review-client__slide-footer">
            Выше всех похвал!
          </div>
        </div>
        <picture>
          <source srcset="/images/mira-paper@2x.webp 2x, /images/mira-paper.webp 1x" type="image/webp">
          <source srcset="/images/mira-paper@2x.png 2x, /images/mira-paper.png 1x" type="image/png">
          <img src="/images/mira-paper.png" class="review-client__image">
        </picture>
      </div>
    </div>
    <div class="review-client__wrapper">
      <h2 class="review-client__title">
        Отзывы клиента
      </h2>
      <div class="review-client__box">
        <img src="/images/before.png" alt="" loading="lazy" class="photo-review">
        <picture>
          <source srcset="/images/mira-paper@2x.webp 2x, /images/mira-paper.webp 1x" type="image/webp">
          <source srcset="/images/mira-paper@2x.png 2x, /images/mira-paper.png 1x" type="image/png">
          <img src="/images/mira-paper.png" class="review-client__image">
        </picture>
        <div class="review-client__text">
          <div class="review-client__text__title">
            Ремонт для молодой семьи
          </div>
          <p>
            Мы обратились в команию Мирастрой и ни разу не пожалели об этом. Оформили договор на ремонт «под ключ» с
            мебелью. Порадовало, что работы начали быстро, а смета была составлена полностью и прозрачно. Хотим выразить
            благодарность прорабу Владимиру за высокий профессионализм
          </p>
          <p>— семья Сидоровых</p>
        </div>
      </div>
    </div>
  </div>
</section>
