<div class="faq">
  <div class="wrap">
    <div class="faq__info">
      Пока ждете ответа нашего специалиста, ознакомьтесь, пожалуйста, с
      информацией, которая пригодится при подготовке к сеансу.
    </div>
    <div class="faq__list">
      <div class="faq__item js-faq-item">
        <div class="faq__item-hdr js-faq-item-hdr">
          Что такое первая 20-минутная бесплатная консультация
          <svg class="icon" width="24" height="24">
            <use xlink:href="/images/sprite.svg#drop_faq"></use>
          </svg>
        </div>
        <div class="faq__item-main">
          <p>
            Любой путь начинается с первого шага, который вы только что сделали
            навстречу решению вашей проблемы. На первой 20-минутной консультации
            вы:
          </p>
          <ul>
            <li>
              Познакомитесь с психологом сервиса PsyСhat и оцените степень
              комфорта общения.
            </li>
            <li>
              Познакомитесь с психологом сервиса PsyСhat и оцените степень
              комфорта общения.
            </li>
            <li>
              Познакомитесь с психологом сервиса PsyСhat и оцените степень
              комфорта общения.
            </li>
          </ul>
          <div class="faq__item-banner">
            <picture>
              <source
                media="(max-width: 1240px)"
                srcset="/images/faq-mob.svg"
              />
              <img src="/images/faq.svg" alt="Форма каталога" loading="lazy" />
            </picture>
            <div class="faq__item-banner-content">
              <div class="faq__item-banner-text">
                Терапия может изменить вашу жизнь. Но все достигнутые результаты
                – совместная заслуга клиента и психолога.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq__item js-faq-item">
        <div class="faq__item-hdr js-faq-item-hdr">
          Как подготовиться к первой консультации
          <svg class="icon" width="24" height="24">
            <use xlink:href="/images/sprite.svg#drop_faq"></use>
          </svg>
        </div>
        <div class="faq__item-main">
          <p>
            Любой путь начинается с первого шага, который вы только что сделали
            навстречу решению вашей проблемы. На первой 20-минутной консультации
            вы:
          </p>
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda,
            suscipit.
          </blockquote>
          <ol>
            <li>
              Найдите подходящее место для консультации с психологом, где вас
              никто не потревожит и вам будет комфортно.
            </li>
            <li>
              Подумайте над следующими вопросами, которые помогут настроиться на
              запрос и подробнее расcказать о вашей ситуации.
              <ul>
                <li>Что меня беспокоит и мешает радостно жить?</li>
                <li>Что меня беспокоит и мешает радостно жить?</li>
                <li>Что меня беспокоит и мешает радостно жить?</li>
              </ul>
            </li>
            <li>
              Найдите подходящее место для консультации с психологом, где вас
              никто не потревожит и вам будет комфортно.
            </li>
            <li>
              Найдите подходящее место для консультации с психологом, где вас
              никто не потревожит и вам будет комфортно.
            </li>
          </ol>
          <div class="faq__item-banner --right-banner">
            <picture>
              <source
                media="(max-width: 1240px)"
                srcset="/images/faq-mob-2.svg"
              />
              <img src="/images/faq-2.svg" loading="lazy" />
            </picture>

            <div class="faq__item-banner-content">
              <div class="faq__item-banner-text">
                Желаем вам продуктивной работы!
              </div>
              <div class="faq__item-banner-info">
                После сеанса <a href="/">оставьте отзыв </a> о
                работе сервиса.<br />
                Ваше мнение важно для нас!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
