<footer class="footer">
  <div class="wrap">
    <div class="footer__wrapper">
      <div class="footer__box">
        <a href="" class="footer__logo">
          <svg class="icon" width="360" height="50">
            <use href="/images/sprite.svg#logo-footer" fill="currentColor"></use>
          </svg>
        </a>
        <div class="footer__socials">
          <a href="" class="footer__socials-link">
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#social-wapp" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg class="icon" width="24" height="20">
              <use href="/images/sprite.svg#social-tg" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg class="icon" width="24" height="14">
              <use href="/images/sprite.svg#social-vk" fill="currentColor"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__box">
        <nav class="footer__nav">
          <a href="" class="footer__nav-link">
            о компании
          </a>
          <a href="" class="footer__nav-link">
            Наши работы
          </a>
          <a href="" class="footer__nav-link">
            Контакты
          </a>
          <a href="" class="footer__nav-link">
            услуги
          </a>
          <a href="" class="footer__nav-link">
            Советы
          </a>
          <a href="" class="footer__nav-link">
            Вакансии
          </a>
        </nav>
        <div class="footer__docs">
          <a href="" class="footer__docs-link">
            Политика конфиденциальности
          </a>
          <a href="" class="footer__docs-link">
            Пользовательское соглашение
          </a>
          <a href="" class="footer__docs-link">
            Политика использования cookie
          </a>
        </div>
      </div>
    </div>
    <div class="footer__copyrite">
      Любая информация, представленная на этом сайте, носит исключительно ознакомительный характер, ни при каких
      обстоятельствах не является публичной офертой, определяемой положениями статьи 437 ГК РФ. Актуальные цены
      уточняйте у менеджеров компании. © 2025. Все права защищены
    </div>
  </div>
</footer>
