<header class="header">
  <div class="wrap">
    <div class="header__box">
      <a href="/" class="header__logo">
        <svg class="icon" width="210" height="24">
          <use xlink:href="/images/sprite.svg#logo"></use>
        </svg>
      </a>
      <div class="header__city">
        калининград
      </div>

      <a href="tel:+79097751228" class="header__phone">
        <svg class="icon" width="24" height="24">
          <use href="/images/sprite.svg#phone" fill="currentColor"></use>
        </svg>
        +7 (909) 775 12 28
      </a>

      <a href="#dashform" class="header__chat">
        <svg class="icon" width="32" height="32">
          <use href="/images/sprite.svg#chat" fill="currentColor"></use>
        </svg>
        <span>
          обсудить ремонт
        </span>
      </a>

      <button type="button" class="header__burger">
        <span>
          меню
        </span>

        <svg class="icon icon-menu" width="24" height="24">
          <use href="/images/sprite.svg#menu" fill="currentColor"></use>
        </svg>
        <svg class="icon icon-close" width="24" height="24">
          <use href="/images/sprite.svg#close" fill="currentColor"></use>
        </svg>
        <svg class="icon icon-close-mob" width="14" height="14">
          <use href="/images/sprite.svg#close-black" fill="currentColor"></use>
        </svg>
      </button>

      <div class="header__dropdown">
        <nav class="header__dropdown-nav">
          <a href="" class="header__dropdown-link">услуги</a>
          <a href="" class="header__dropdown-link">о компании</a>
          <a href="" class="header__dropdown-link">вакансии</a>
          <a href="" class="header__dropdown-link">советы</a>
          <a href="" class="header__dropdown-link">Контакты</a>
        </nav>
        <div class="header__socials">
          <a href="" class="header__socials-link">
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#social-wapp" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="header__socials-link">
            <svg class="icon" width="24" height="20">
              <use href="/images/sprite.svg#social-tg" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="header__socials-link">
            <svg class="icon" width="24" height="14">
              <use href="/images/sprite.svg#social-vk" fill="currentColor"></use>
            </svg>
          </a>
        </div>
        <div class="header__dropdown-text">
          Мы работаем без выходных с 9:00 до 20:00
          Ждем ваших писем и звонков:
        </div>
        <div class="header__dropdown-contact">
          <svg class="icon" width="24" height="24">
            <use href="/images/sprite.svg#mail" fill="currentColor"></use>
          </svg>
          <a href="mailto:mirremonta-39@yandex.ru">
            mirremonta-39@yandex.ru
          </a>
        </div>
        <div class="header__dropdown-contact">
          <svg class="icon" width="24" height="24">
            <use href="/images/sprite.svg#phone-white" fill="currentColor"></use>
          </svg>
          <div>
            <a href="tel:+7 (967) 355 39 39">+7 (967) 355 39 39</a>
            <a href="tel:+7 (905) 240 60 60">+7 (905) 240 60 60</a>
          </div>
        </div>
        <div class="header__dropdown-contact">
          <svg class="icon" width="24" height="24">
            <use href="/images/sprite.svg#tg" fill="currentColor"></use>
          </svg>
          <a href="">
            @mirastroy_kaliningrad
          </a>
        </div>
        <a href="#dashform" class="header__dropdown-action" type="button">
          Оставить заявку
        </a>
      </div>

    </div>
  </div>
</header>
