<div class="text-description">
  <div class="wrap">
    <h3>Вам нужна помощь психолога?</h3>
    <p>
      Получить ее можно не выходя из дома. Для этого подайте заявку на сайте
      сервиса PsyChat: здесь собрана база проверенных психологов с профильным
      образованием и многолетним опытом работы. Они владеют различными методами
      и приемами, помогают разобраться в отношениях с самим собой и другими
      людьми, справиться с расстройствами.
    </p>
    <h3>Когда нужен психолог онлайн</h3>
    <p>
      Психологи, как и онлайн-психотерапевты, помогают справиться с различными
      проблемами, среди них:
    </p>
    <ul>
      <li>Зависимости — игровая, алкогольная, пищевая и т.д.</li>
      <li>Кризисы в личной жизни — тяжелое расставание, ссоры, измены.</li>
      <li>
        Расстройства — фобии, неврозы, тревожное состояние, панические атаки.
      </li>
      <li>
        Проблемы с самооценкой — неуверенность в себе, недовольство собой.
      </li>
      <li>
        Познание себя — самореализация, поиск своего призвания и места в жизни.
      </li>
      <li>Психологические травмы и посттравматический синдром.</li>
      <li>
        Подавленное эмоциональное состояние, суицидальные мысли, симптомы
        депрессии.
      </li>
    </ul>
    <h3>Вам нужна помощь психолога?</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nobis
      reprehenderit earum iste quo, totam cupiditate ea unde expedita quasi
      magni aliquid ducimus ab laboriosam aspernatur fugiat modi officiis
      recusandae.
    </p>
    <p>5 причин обратиться к онлайн-психологу в PsyChat:</p>
    <ol>
      <li>
        Специалисты разных сфер психологии: семейной для пар, детской и т.д.
      </li>
      <li>Разные форматы общения: переписка в чате, звонок, видеосвязь.</li>
      <li>
        Работаем 24 часа в сутки и находим подходящего специалиста в течение 5
        минут.
      </li>
      <li>
        Для обращения не нужно регистрироваться: просто оставьте заявку на
        сайте.
      </li>
      <li>
        Хорошие отзывы: средняя оценка работы наших психологов — 4,95-5 баллов.
      </li>
    </ol>
  </div>
</div>
