@use '../globals' as mixins;

.footer {
    padding: 80px 0 40px;
    position: relative;
    background: #383838;
    @include mixins.respond-max(tablet) {
        margin-top: 0;
        padding: 40px 20px;
    }

    &__logo {
        @include mixins.respond-max(tablet) {
            & .icon {
                width: 100%;
                max-width: 295px;
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 552px;
        justify-content: space-between;
        grid-gap: 20px;
        @include mixins.respond-max(tablet) {
            display: block;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 46px;

        &-link {
            width: 48px;
            height: 48px;
            border: 1px solid #ffe500;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        margin-bottom: 40px;
        @include mixins.respond-max(tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 40px;
        }
        &-link {
            color: var(--bg);
            text-transform: uppercase;
            &:hover {
                color: var(--main);
            }
        }
    }

    &__docs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        @include mixins.respond-max(tablet) {
            grid-template-columns: 1fr;
            grid-gap: 16px;
        }
        &-link {
            color: var(--bg);
            @include mixins.type(14, 20);
        }
    }

    &__copyrite {
        margin-top: 80px;
        color: #9a9a9a;
        @include mixins.type(14, 20);
        @include mixins.respond-max(tablet) {
            margin-top: 40px;
        }
    }
}
