<section class="comand">
  <img class="comand__bg" src="/images/dark-bg.svg" alt="bg">
  <div class="wrap">
    <div class="comand__hdr">
      <h1 class="comand__title">
        Наша команда
      </h1>
      <div class="comand__controls">
        <button class="comand__controls-prev" type="button">
          <svg class="icon" width="56" height="24">
            <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
          </svg>
        </button>
        <button class="comand__controls-next" type="button">
          <svg class="icon" width="56" height="24">
            <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="comand__slider swiper">
      <div class="swiper-wrapper">
        <div class="comand__item swiper-slide">
          <img class="comand__item-image" src="/images/person.png">
          <div class="comand__item-footer">
            <div class="comand__item-name">
              Бакланова Виталина
            </div>
            <div class="comand__item-prof">
              Руководитель «Мирастрой»
            </div>

          </div>
        </div>
        <div class="comand__item swiper-slide">
          <img class="comand__item-image" src="/images/person.png">
          <div class="comand__item-footer">
            <div class="comand__item-name">
              Бакланова Виталина
            </div>
            <div class="comand__item-prof">
              Руководитель «Мирастрой»
            </div>

          </div>
        </div>
        <div class="comand__item swiper-slide">
          <img class="comand__item-image" src="/images/person.png">
          <div class="comand__item-footer">
            <div class="comand__item-name">
              Бакланова Виталина
            </div>
            <div class="comand__item-prof">
              Руководитель «Мирастрой»
            </div>

          </div>
        </div>
        <div class="comand__item swiper-slide">
          <img class="comand__item-image" src="/images/person.png">
          <div class="comand__item-footer">
            <div class="comand__item-name">
              Бакланова Виталина
            </div>
            <div class="comand__item-prof">
              Руководитель «Мирастрой»
            </div>

          </div>
        </div>
        <div class="comand__item swiper-slide">
          <img class="comand__item-image" src="/images/person.png">
          <div class="comand__item-footer">
            <div class="comand__item-name">
              Бакланова Виталина
            </div>
            <div class="comand__item-prof">
              Руководитель «Мирастрой»
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="comand__invite">
      <picture>
        <source srcset="/images/comand-house-mob@2x.webp 2x, /images/comand-house-mob.webp 1x"
          media="(max-width: 1240px)" type="image/webp">
        <source srcset="/images/comand-house-mob@2x.png 2x, /images/comand-house-mob.png 1x" media="(max-width: 1240px)"
          type="image/png">
        <source srcset="/images/comand-house@2x.webp 2x, /images/comand-house.webp 1x" type="image/webp">
        <source srcset="/images/comand-house@2x.png 2x, /images/comand-house.png 1x" type="image/png">
        <img src="/images/comand-house.png" alt="" loading="lazy" class="comand__invite-img">
      </picture>
      <div class="comand__invite-info">
        <div class="comand__invite-title">
          Получите точную стоимость ремонта вашей мечты
        </div>
        <div class="comand__invite-list">
          <div class="comand__invite-item">
            Расчитаем смету с учётом всех этапов — без доплат
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#check" fill="currentColor"></use>
            </svg>
          </div>
          <div class="comand__invite-item">
            Укажем сроки и подскажем, где реально можно сэкономить
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#check" fill="currentColor"></use>
            </svg>
          </div>
          <div class="comand__invite-item">
            Получите план ремонта и рекомендации бесплатно
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#check" fill="currentColor"></use>
            </svg>
          </div>
        </div>
        <a href="#dashform" class="comand__invite-action">
          Оставить заявку
        </a>
      </div>
    </div>
  </div>
</section>
