<section class="contacts">
  <img class="contacts__bg" src="/images/light-bg.svg" alt="bg">
  <div class="wrap">
    <div class="contacts__wrapper">
      <div class="contacts__info">
        <h2 class="contacts__info-title">
          Контакты
        </h2>
        <div class="contacts__info-text">
          Мы работаем без выходных с 09:00 до 20:00.
          Обсудим ваш проект — напишите или позвоните нам:
        </div>
        <div class="contacts__list">
          <div class="contacts__item">
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#phone" fill="currentColor"></use>
            </svg>
            +7 (967) 355 39 39 +7 (905) 240 60 60
          </div>
          <div class="contacts__item">
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#mail" fill="currentColor"></use>
            </svg>
            mirremonta-39@yandex.ru
          </div>
          <div class="contacts__item">
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#tg" fill="currentColor"></use>
            </svg>
            @mirastroy_kaliningrad
          </div>
          <div class="contacts__item">
            <svg class="icon" width="24" height="24">
              <use href="/images/sprite.svg#geo" fill="currentColor"></use>
            </svg>
            г. Калининград, Московский пр-т, 174, этаж 3, офис 15
          </div>
        </div>
      </div>
    </div>
    <div class="contacts__map"></div>
  </div>
</section>
