<section class="faq">
  <img class="faq__bg" src="/images/light-bg.svg" alt="bg">
  <div class="wrap">
    <div class="faq__wrapper">
      <div class="faq__info">
        <h2 class="faq__info-title">
          Частые вопросы
        </h2>
        <div class="faq__info-text">
          Если у вас остались вопросы — <a href="#dashform">напишите нам</a> .
          Обязательно ответим!
        </div>
      </div>
      <div class="faq__list">
        <div class="faq__item active">
          <div class="faq__item-hdr">
            Сколько точно будет стоить ремонт и что туда входит?
            <button type="button" class="faq__item-toggle">
              <svg class="icon" width="30" height="30">
                <use href="/images/sprite.svg#drop" fill="currentColor"></use>
              </svg>
            </button>
          </div>
          <div class="faq__item-main">
            Составляем официальный договор с фиксированной ценой, сроками и объёмом работ — без размытых формулировок.
            Каждый этап ремонта, каждая позиция в смете и каждая дата — внесены в договор. Бюджет не меняется. Оплата
            строго по факту готового результата работ, этап за этапом. Штрафы за срыв сроков оплачиваем мы.
            Договор подписывается при личной встрече или удаленно с электронной подписью. Весь документооборот ведется
            официально. Договор с нами - это юридически сильный грамотный документ.
          </div>
        </div>
        <div class="faq__item">
          <div class="faq__item-hdr">
            Сколько точно будет стоить ремонт и что туда входит?
            <button type="button" class="faq__item-toggle">
              <svg class="icon" width="30" height="30">
                <use href="/images/sprite.svg#drop" fill="currentColor"></use>
              </svg>
            </button>
          </div>
          <div class="faq__item-main">
            Составляем официальный договор с фиксированной ценой, сроками и объёмом работ — без размытых формулировок.
            Каждый этап ремонта, каждая позиция в смете и каждая дата — внесены в договор. Бюджет не меняется. Оплата
            строго по факту готового результата работ, этап за этапом. Штрафы за срыв сроков оплачиваем мы.
            Договор подписывается при личной встрече или удаленно с электронной подписью. Весь документооборот ведется
            официально. Договор с нами - это юридически сильный грамотный документ.
          </div>
        </div>
        <a class="faq__action" href="#dashform">
          Задать свой вопрос
        </a>
      </div>
    </div>

  </div>
</section>
