<section class="first">
  <img class="first__bg" src="/images/dark-bg.svg" alt="bg">
  <div class="wrap">
    <div class="first__wrapper">
      <div class="first__info">
        <h1 class="first__title">
          Ремонт <br class="for-mob"> квартиры «под&nbsp;ключ» с&nbsp;мебелью в&nbsp;Калининграде
        </h1>
        <div class="first__list">
          <div class="first__item">
            Фиксированная цена от 35 000 руб/м²
          </div>
          <div class="first__item">
            Поэтапная оплата и без скрытых платежей
          </div>
          <div class="first__item">
            Все работы точно в срок
          </div>
          <div class="first__item">
            Контроль качества на всех этапах из любой точки мира
          </div>
          <div class="first__item">
            Гарантия до 2-х лет на работы
          </div>
        </div>
        <div class="first__footer">
          <a href="#dashform" class="first__action">
            Узнать точную смету
          </a>
          <div class="first__gift">
            + Дизайн-проект в подарок
          </div>
        </div>
      </div>
      <div class="first__images">
        <img class="first__images-bg" src="/images/first-screen-border.svg" alt="screen">
        <picture>
          <source srcset="/images/first-screen-1-mob@2x.webp 2x, /images/first-screen-1-mob.webp 1x"
            media="(max-width: 1240px)" type="image/webp">
          <source srcset="/images/first-screen-1-mob@2x.png 2x, /images/first-screen-1-mob.png 1x"
            media="(max-width: 1240px)" type="image/png">
          <source srcset="/images/first-screen-1@2x.webp 2x, /images/first-screen-1.webp 1x" type="image/webp">
          <source srcset="/images/first-screen-1@2x.png 2x, /images/first-screen-1.png 1x" type="image/png">
          <img src="/images/first-screen-1.png" class="first__images-one">
        </picture>
      </div>
    </div>
  </div>
</section>
