<section class="how">
  <img class="how__bg" src="/images/light-bg.svg" alt="bg">
  <div class="wrap">
    <div class="how__wrapper">
      <div class="how__info">
        <h2 class="how__info-title">
          Как мы работаем
        </h2>
        <div class="how__info-text">
          Каждый этап проходит несколько уровней
          контроля качества с разными специалистами
        </div>
      </div>
      <div class="how__list">
        <div class="how__item active">
          <picture>
            <source srcset="/images/how1@2x.webp 2x, /images/how1.webp 1x" type="image/webp">
            <source srcset="/images/how1@2x.png 2x, /images/how1.png 1x" type="image/png">
            <img src="/images/how1.png" alt="" class="how__item-img">
          </picture>
          <div class="how__item-wrapper">
            <div class="how__item-hdr">
              Замер объекта и дизайн-проект
              <button type="button" class="how__item-toggle">
                <svg class="icon" width="30" height="30">
                  <use href="/images/sprite.svg#drop" fill="currentColor"></use>
                </svg>
              </button>
            </div>
            <div class="how__item-main">
              <p> Составляем официальный договор с фиксированной ценой, сроками и объёмом работ — без размытых
                формулировок.
                Каждый этап ремонта, каждая позиция в смете и каждая дата — внесены в договор. Бюджет не меняется.</p>
              <p> Составляем официальный договор с фиксированной ценой, сроками и объёмом работ — без размытых
                формулировок.
                Каждый этап ремонта, каждая позиция в смете и каждая дата — внесены в договор. Бюджет не меняется.</p>
            </div>
          </div>
        </div>
        <div class="how__item">
          <picture>
            <source srcset="/images/how2@2x.webp 2x, /images/how2.webp 1x" type="image/webp">
            <source srcset="/images/how2@2x.png 2x, /images/how2.png 1x" type="image/png">
            <img src="/images/how2.png" alt="" class="how__item-img">
          </picture>
          <div class="how__item-wrapper">
            <div class="how__item-hdr">
              Замер объекта и дизайн-проект
              <button type="button" class="how__item-toggle">
                <svg class="icon" width="30" height="30">
                  <use href="/images/sprite.svg#drop" fill="currentColor"></use>
                </svg>
              </button>
            </div>
            <div class="how__item-main">
              Составляем официальный договор с фиксированной ценой, сроками и объёмом работ — без размытых формулировок.
              Каждый этап ремонта, каждая позиция в смете и каждая дата — внесены в договор. Бюджет не меняется. Оплата
              строго по факту готового результата работ, этап за этапом. Штрафы за срыв сроков оплачиваем мы.
              Договор подписывается при личной встрече или удаленно с электронной подписью. Весь документооборот ведется
              официально. Договор с нами - это юридически сильный грамотный документ.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
