<section class="reviews">
  <img class="reviews__bg" src="/images/dark-bg.svg" alt="bg">
  <div class="wrap">
    <div class="reviews__hdr">
      <h1 class="reviews__title">
        Отзывы
      </h1>
      <div class="reviews__controls">
        <button class="reviews__controls-prev" type="button">
          <svg class="icon" width="56" height="24">
            <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
          </svg>
        </button>
        <button class="reviews__controls-next" type="button">
          <svg class="icon" width="56" height="24">
            <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="reviews__slider swiper">
      <div class="swiper-wrapper">
        <div class="reviews__slide swiper-slide">
          <video class="reviews__slide-video" muted playsinline preload="none" poster="/images/person.png">
            <source src="/videos/one.mp4" type="video/mp4" />
            Ваш браузер не поддерживает видео.
          </video>
          <button type="button" class="reviews__slide-play">
            <svg class="icon" width="72" height="72">
              <use href="/images/sprite.svg#play" fill="currentColor"></use>
            </svg>
          </button>
          <div class="reviews__slide-footer">
            Выше всех похвал!
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <img class="reviews__item-image" src="/images/work-slide.png">
          <div class="reviews__item-main">
            <div class="reviews__item-title">
              Честно о Мирастрой
            </div>
            <div class="reviews__item-text">
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <img class="reviews__item-image" src="/images/work-slide.png">
          <div class="reviews__item-main">
            <div class="reviews__item-title">
              Честно о Мирастрой
            </div>
            <div class="reviews__item-text">
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <img class="reviews__item-image" src="/images/work-slide.png">
          <div class="reviews__item-main">
            <div class="reviews__item-title">
              Честно о Мирастрой
            </div>
            <div class="reviews__item-text">
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <img class="reviews__item-image" src="/images/work-slide.png">
          <div class="reviews__item-main">
            <div class="reviews__item-title">
              Честно о Мирастрой
            </div>
            <div class="reviews__item-text">
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
              Я заказала ремонт «под ключ» c мебелью от Мирастрой и осталась очень довольна. Порадовало, что работы
              начали
              быстро, а смета была составлена полностью и прозрачно. Хотим выразить благодарность прорабу Владимиру за
              высокий
              профессионализм
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews__invite">
      <picture>
        <source srcset="/images/reviews-house-mob@2x.webp 2x, /images/reviews-house-mob.webp 1x"
          media="(max-width: 1240px)" type="image/webp">
        <source srcset="/images/reviews-house-mob@2x.png 2x, /images/reviews-house-mob.png 1x"
          media="(max-width: 1240px)" type="image/png">
        <source srcset="/images/reviews-house@2x.webp 2x, /images/reviews-house.webp 1x" type="image/webp">
        <source srcset="/images/reviews-house@2x.png 2x, /images/reviews-house.png 1x" type="image/png">
        <img src="/images/reviews-house.png" alt="" loading="lazy" class="reviews__invite-img">
      </picture>
      <div class="reviews__invite-info">
        <div class="reviews__invite-title">
          Красивый ремонт без переплат — это реальном
        </div>
        <div class="reviews__invite-text">
          У вас есть дизайн-проект? Можем оптимизировать его бюджет <strong>до 50%</strong> без потери качества и
          красоты благодаря
          грамотному техническому подходу и заменой некоторых материалов.
        </div>
        <a href="" class="reviews__invite-action">
          Оставить заявку
        </a>
      </div>
    </div>
  </div>
</section>
