<section class="why">
  <img class="why__bg" src="/images/light-bg.svg" alt="bg">
  <div class="wrap">
    <h2 class="why__title-mob">
      Почему нас выбирают
    </h2>
    <div class="why__wrapper">
      <div class="why__blog">
        <div class="why__blog-wrapper">
          <video class="why__blog-video" muted playsinline preload="none" poster="/images/person.png">
            <source src="/videos/one.mp4" type="video/mp4" />
            Ваш браузер не поддерживает видео.
          </video>
          <button type="button" class="why__blog-play">
            <svg class="icon" width="72" height="72">
              <use href="/images/sprite.svg#play" fill="currentColor"></use>
            </svg>
          </button>
        </div>
        <div>
          <div class="why__blog-cite">
            «Я тот человек, который отвечает за ваше спокойствие. Моя задача — чтобы вы ждали ключи, а не переживали»
          </div>
          <div class="why__blog-name">
            Бакланова Виталина, руководитель Мирастрой
          </div>
        </div>
      </div>
      <div class="why__info">
        <h2 class="why__title">
          Почему нас выбирают
        </h2>
        <div class="why__list">
          <div class="why__item">
            <div class="why__item-title">
              Опыт
            </div>
            <div class="why__item-text">
              20 лет в ремонте квартир. Более 100 объектов под ключ. Работаем по договору, без доплат и срывов сроков.
              Знаем, как довести проект до результата — спокойно, чётко и без лишних проблем.
            </div>
          </div>
          <div class="why__item">
            <div class="why__item-title">
              Сроки
            </div>
            <div class="why__item-text">
              Сроки фиксированы в договоре — ни дня больше. Иначе платим вам за просрочку. График работ по этапам,
              контроль на каждом шаге. Ремонт от 45 дней и вы в готовой квартире
            </div>
          </div>
          <div class="why__item">
            <div class="why__item-title">
              Цена
            </div>
            <div class="why__item-text">
              Мы даём твердую цену под ключ с гарантией, что вы не заплатите ни рубля сверху. И это официально
              прописывается в договоре.
            </div>
          </div>
          <div class="why__item">
            <div class="why__item-title">
              Выгода
            </div>
            <div class="why__item-text">
              Полный ремонт с материалами, дизайном, контролем и гарантией — в одной фиксированной цене. Без нервов, без
              переплат, без вторых попыток.
            </div>
          </div>
          <div class="why__item">
            <div class="why__item-title">
              Качество
            </div>
            <div class="why__item-text">
              В работе есть стандарты, система и контроль над каждой деталью. Работаем по технологическим картам.
              Чек-листы приёмки каждого этапа. Отчёты с объекта в чате по объекту. Даём до 2х лет официальной гарантии
              на работы.
            </div>
          </div>

        </div>
        <div class="why__footer">
          <a class="why__action" href="#dashform">
            Ремонт без нервов
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
