<section class="works">
  <img class="works__bg" src="/images/dark-bg.svg" alt="bg">
  <div class="wrap">
    <div class="works__hdr">
      <h1 class="works__title">
        Почему нас выбирают
      </h1>
      <div class="works__controls">

      </div>
    </div>
    <div class="works__slider swiper">

      <div class="works__list swiper-wrapper">
        <div class="works__slide swiper-slide">
          <video class="works__slide-video" muted playsinline preload="none" poster="/images/person.png">
            <source src="/videos/one.mp4" type="video/mp4" />
            Ваш браузер не поддерживает видео.
          </video>
          <button type="button" class="works__slide-play">
            <svg class="icon" width="72" height="72">
              <use href="/images/sprite.svg#play" fill="currentColor"></use>
            </svg>
          </button>
        </div>
        <div class="works__item swiper-slide">
          <div class="works__item-images swiper">
            <div class="swiper-wrapper">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="works__item-title">
            Ремонт 2х ком., 42 м2
          </div>
          <div class="works__item-text">
            Под ключ с мебелью за 56 дней.Стоимость работ: 35 000 руб/м2. Калининград, ул.Толстикова, ЖК «Мичуринский
            парк»
          </div>
          <a href="" class="works__item-more">
            Подробнее
            <svg class="icon" width="32" height="24">
              <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
            </svg>
          </a>
        </div>
        <div class="works__item swiper-slide">
          <div class="works__item-images swiper">
            <div class="swiper-wrapper">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="works__item-title">
            Ремонт 2х ком., 42 м2
          </div>
          <div class="works__item-text">
            Под ключ с мебелью за 56 дней.Стоимость работ: 35 000 руб/м2. Калининград, ул.Толстикова, ЖК «Мичуринский
            парк»
          </div>
          <a href="" class="works__item-more">
            Подробнее
            <svg class="icon" width="32" height="24">
              <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
            </svg>
          </a>
        </div>
        <div class="works__item swiper-slide">
          <div class="works__item-images swiper">
            <div class="swiper-wrapper">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="works__item-title">
            Ремонт 2х ком., 42 м2
          </div>
          <div class="works__item-text">
            Под ключ с мебелью за 56 дней.Стоимость работ: 35 000 руб/м2. Калининград, ул.Толстикова, ЖК «Мичуринский
            парк»
          </div>
          <a href="" class="works__item-more">
            Подробнее
            <svg class="icon" width="32" height="24">
              <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
            </svg>
          </a>
        </div>
        <div class="works__item swiper-slide">
          <div class="works__item-images swiper">
            <div class="swiper-wrapper">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
              <img class="swiper-slide" src="/images/work-slide.png" alt="works">
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="works__item-title">
            Ремонт 2х ком., 42 м2
          </div>
          <div class="works__item-text">
            Под ключ с мебелью за 56 дней.Стоимость работ: 35 000 руб/м2. Калининград, ул.Толстикова, ЖК «Мичуринский
            парк»
          </div>
          <a href="" class="works__item-more">
            Подробнее
            <svg class="icon" width="32" height="24">
              <use href="/images/sprite.svg#arrow" fill="currentColor"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
